<ion-content>

  <div class="slideContainer">
    <ion-grid fixed>
      <ion-row>

        <ion-col class="mx-auto" size="10">

          <div class="d-flex flex-row justify-content-center">

            <div class="my-auto">
              <img class="" src="../../../assets/img/ashesiLogoWhite.png" alt="">
            </div>

            <div class="my-auto pl-4">
              <h1 class="text-white d-inline font-weight-bold">
                <span>STUDENT</span><br>
                <span>CAREERS</span>
              </h1>
            </div>

          </div>

        </ion-col>
        <ion-col size="5">


        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>