<ion-content>



  <div class="">
    <ion-buttons class="ml-3 mt-4" slot="start">
      <ion-back-button text="" style="--icon-font-size: '1.2rem'" icon="caret-back-outline" color="light"
        defaultHref="login"></ion-back-button>
    </ion-buttons>
    <div class="centerGrid text-center">

      <h2 class="text-white pb-1" style="font-weight: 600 !important;">Forgot Your Password?</h2>
      <ion-card>

        <form action="" [formGroup]="forgotForm">
          <ion-card-content class="text-center">

            <ion-grid fixed>
              <ion-row>
                <ion-col class="text-justify mx-auto pb-0" size="12">
                  <span class="font-weight-light" style="font-size: 1rem;">That's not a problem. Enter your registered
                    mail below and let's get you
                    sorted out.</span>
                </ion-col>
              </ion-row>

              <ion-row class="mt-1">
                <ion-col class="mx-auto pb-0" size="12">
                  <ion-item class="ion-no-padding">
                    <ion-label color="dark" style="font-size: 1rem;" position="floating">Your Email</ion-label>
                    <ion-input color="dark" formControlName="email" type="text"></ion-input>
                  </ion-item>

                  <span @fade class="small text-left" style="position: 'absolute'; width: '100%'; left:'0px'"
                    *ngIf="forgotForm.get('email').hasError('pattern') && forgotForm.get('email').dirty">Please enter
                    only your Ashesi email</span>
                </ion-col>

              </ion-row>


              <ion-row class="mt-4">
                <ion-col class="mx-auto" size="12">

                  <div class="mt-2">
                    <ion-button [disabled]="forgotForm.invalid" (click)="forgotPassword()" expand="block" fill="solid"
                      color="ashesi">
                      <span *ngIf="!buttonClicked"> Submit </span>
                        <span *ngIf="buttonClicked && !callDone">
                          <ion-spinner name="crescent"></ion-spinner>
                        </span>

                        <span color="success" *ngIf="buttonClicked && callDone">
                          <ion-icon size="large" slot="start" name="checkmark-circle"></ion-icon>
                        </span>
                    </ion-button>
                  </div>


                </ion-col>
              </ion-row>
            </ion-grid>



          </ion-card-content>
        </form>
      </ion-card>
    </div>
  </div>



</ion-content>