ion-content {
    --background: #923d41;
}

.input-clear-icon.sc-ion-input-md,
.input-clear-icon.sc-ion-input-ios {
  background-image: url("src/assets/icon/close-custom-outline.svg") !important;
  width: 30px;
  height: 30px;
  background-size: 22px;
}

.slideContainer {
    position: absolute;
    top: 10%;
    left: 0%;
    right: 0%;
}


ion-item {
    --background: transparent;
    --color: #c4c4c4;
    --border-color: #c4c4c4;
    border-bottom-width: 2px;
    --color-focused: #fff;
    --color-activated: #fff;
    --highlight-color-focused: #fff;
    --background-focused-opacity: 0;
    font-weight: 400;
    color: #fff;
}

ion-input {
    --color: #fff;
    --placeholder-font-style: lato;
    --placeholder-font-weight: "300";
    --ion-input-highlight-color-valid: #fff;
    --ion-input-highlight-color-focused: #fff;
    font-family: lato;
}

#custLabel {
    font-family: lato !important;
    font-weight: 900 !important;
}

.item-has-focus .label-stacked.sc-ion-label-md-h,
.item-has-focus.label-floating.sc-ion-label-md-h,
.item-has-focus .label-floating.sc-ion-label-md-h {
    color: white !important;
    border-color: white !important;
    font-weight: 400 !important;
}

.item-native {
    padding: 0px !important;
}

hr {
    border-bottom: 1px solid white;
    width: 25%;
}

.createActbtn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -17%;
    transform: translateY(17%);
}

//Set Label Font-Weights
[id^="ion-input-"] {
    font-weight: 400;
    font-family: lato;
}

.patternError{
   left: 7%;
   top: 105%;
}

@media (orientation: landscape){
    .patternError{
        left: 5%;
     }
}

.radio-icon {
    width: 1em !important;
    height: 1em !important;
}

ion-checkbox{
    height: 15px;
    width: 15px;
}

ion-radio{
    border-color: #fff;
}

ion-item{
    --highlight-color-focused: black !important;
}