<ion-content>

  <div class="slideContainer">
    <ion-grid fixed>
      <ion-row>
        <ion-col class="mx-auto" size="10">

          <div class="d-flex flex-row justify-content-center">

            <div class="my-auto">
              <img class="" src="../../assets/img/ashesiLogoWhite.png" alt="">
            </div>

            <div class="my-auto pl-4">
              <h1 class="text-white d-inline font-weight-bold">
                <span>STUDENT</span><br>
                <span>CAREERS</span>
              </h1>
            </div>

          </div>

        </ion-col>
        <ion-col size="5">


        </ion-col>
      </ion-row>

      <form [formGroup]="loginForm">
        <ion-row class="mt-3">
          <ion-col class="mx-auto" size="10">

            <div class="">
              <ion-item>
                <ion-label id="custLabel" color="white" position="floating"> Your Email</ion-label>
                <ion-input formControlName="uemail" autocomplete="email" inputmode="email" color="light"></ion-input>

              </ion-item>
              <span @fade class="patternError text-light small" style="position: absolute;"
                *ngIf="loginForm.controls.uemail.hasError('pattern')">Please enter a valid Ashesi Student email</span>

            </div>


          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="mx-auto mt-3" size="10">

            <div class="">
              <ion-item>
                <ion-label id="custLabel" color="white" position="floating"> Your Password</ion-label>
                <ion-input formControlName="upassword" type="password" color="white"></ion-input>
              </ion-item>
            </div>

          </ion-col>
        </ion-row>

        <ion-row class="mt-4">
          <ion-col size="10" class="mx-auto text-center">
            <div class="form-check">
              <!-- <input (click)="check(loginForm.controls.urem.value)" formControlName="urem" type="checkbox" class="form-check-input"
                id="exampleCheck1"> -->

              <ion-checkbox color="light" (click)="check(loginForm.controls.urem.value)" formControlName="urem"
                class="mr-2 align-middle"></ion-checkbox>
              <ion-label class="form-check-label text-light font-weight-light align-middle" for="exampleCheck1">Remember
                Me?</ion-label>

            </div>
          </ion-col>
        </ion-row>




        <ion-row class="mt-5">
          <ion-col size="8" class="mx-auto text-center">
            <ion-button [disabled]=loginForm.invalid class="moreButton shadow-sm" color='light'
              (click)="submitLoginDetails(loginForm.controls.uemail.value, loginForm.controls.upassword.value)"
              expand="block" fill="solid">
              <span *ngIf="noLogin" color="ashesi">Login</span>
              <ion-spinner *ngIf="!noLogin && !loadingDone" color="ashesi" name="crescent"></ion-spinner>
              <ion-icon *ngIf="!noLogin && loadingDone" color="ashesi" name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>



      </form>

      <ion-row class="mt-4">
        <ion-col class="mx-auto text-center" size="8">
          <p (click)="forgot()" class=" text-white text-underline lead small mb-0"> Forgot Your Password?</p>
          <hr class="mt-1">
        </ion-col>
      </ion-row>
    </ion-grid>


    <div class="createActBtn mx-auto" (click)="register()">
      <ion-col class="mx-auto text-center" size="12">
        <p class=" text-white text-underline account infinite"> <span style="font-weight: 300"> Don't Have an
            Account?</span>
          <span class="font-weight-bold pl-2"> Sign Up</span></p>
      </ion-col>

    </div>
  </div>



</ion-content>