<ion-content class="infoBG no-scroll has-footer" fullscreen>
  <div class="overlay">
  </div>

  <div class="parentDiv my-auto">
    <ion-grid fixed class="center">
      <ion-row>
        <ion-col class="text-center mx-auto" size="10">
          <img src="../../assets/img/ashesiLogo.png" alt="" srcset="">
          <h1 class=" h1 text-white text-center ashesiShadow title1"> Student Careers</h1>
        </ion-col>
      </ion-row>

      <ion-row class="text-center">
        <ion-col class="mx-auto" size="10">
          <p class="text-white bodyText">Imagine your future with an <br>Ashesi Education</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="8" class="mx-auto mt-2">
            <ion-button [routerLink]="['/add-info']"  size='large' color="ashesi" expand="block" fill="solid"
              class="ion-activatable ripple-parent moreButton">

              <span class="buttonText initial">Tell Me More</span>
              <ion-ripple-effect type="bounded"></ion-ripple-effect>

            </ion-button>
        </ion-col>
      </ion-row>


    </ion-grid>
  </div>


</ion-content>