<ion-app>

    <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
      <ion-content scrollY="false" id="menu-body">
        <ion-list lines="none">
          <ion-list-header id="list-header">


            <ion-label color="light">
              <ion-icon class="align-middle" color="light" slot="start" size="large" name="person-circle-outline">
              </ion-icon>
              <span class="lead pl-3 align-middle">Username</span>
            </ion-label>

          </ion-list-header>


          <ion-menu-toggle>

            <div class="mt-4">
              <ion-item class="m-2" (click)="comingSoon(i)" *ngFor="let page of appPages; let i = index" [routerLink]="[page.url]"
                routerLinkActive ="menuActive" lines="none" detail="false">

                <ion-icon color="light" slot="start" [ios]=" page.icon + '-outline'" [md]="page.icon + '-sharp'">
                </ion-icon>
                <ion-label color="light" routerLinkActive="font-weight-bold" class="lead">{{page.title}}</ion-label>

              </ion-item>
            </div>

          </ion-menu-toggle>
        </ion-list>

      </ion-content>

    </ion-menu>

    <ion-router-outlet animated="true" [swipeGesture]="false" (click)="closeMenu()" id="menu-content">
    </ion-router-outlet>
  
</ion-app>