@import "../theme/fonts";

body,
ion-label {
  font-family: Lato !important;
}

//Layout
.ashesi-logo {
  max-width: 25%;
}

@media (orientation: landscape) {
  .ashesi-logo {
    max-width: 15%;
  }
}

#menu-body {
  --ion-background-color: var(--ion-color-ashesi-dark);
}

.menuActive {
  --background: #c6c6c62b;
  border-radius: 5px;
}
.bottom-options {
  position: absolute;
  bottom: 1em;
}

// Button Ripple
.no-ripple {
  --ripple-color: transparent;
}
